{% extends 'partials/_master.twig' %}

{% macro author(record, withDescription = true, withContent=false, withEmail = true) %}
    {% set relatedrecords = record|related %}
    {% if relatedrecords is not empty %}
        {% set authors = relatedrecords|filter(rec => rec.contentType == "people") %}
        
        {% if authors is not empty %}
            {% set authorContent = authors|first %}
            <div class="flex items-baseline gap-2">
                <a class="link" href="{{ authorContent|link }}">{{ authorContent.name }}</a>
                {% if withDescription %}
                    <span class="font-thin text-sm" >{{ authorContent.description }}</span>
                {% endif %}
            </div>

            {% if withContent and authorContent.content is defined %}
                <div class="font-thin text-sm" >{{ authorContent.content|raw }}</div>
            {% endif %}

            {% if withEmail %}
            <p class="font-thin text-sm brand-blue"><a href="mailto:{{ authorContent.email }}">{{ authorContent.email }}</a></p>
            {% endif %}

        {% else %}
            {{ record.author.displayName }}
        {% endif %}
    {% else %}
        {{ record.author.displayName }}
    {% endif %}
{% endmacro %}

{% macro authorImage(record) %}
    {% set relatedrecords = record|related %}
    {% if relatedrecords is not empty %}
        {% set authors = relatedrecords|filter(rec => rec.contentType == "people") %}
        
        {% if authors is not empty %}
            {% set authorContent = authors|first %}
            {% if authorContent.image is defined and authorContent.image is not empty %}
            <img src="{{ authorContent.image|thumbnail(width=100, height=100, fit="c") }}" alt="{{ authorContent.name }}" />
            {% endif %}
        {% endif %}
    {% endif %}
{% endmacro %}



{% set showAside = true %}
{% setcontent latest = 'blog' latest limit 5 %}
{% set showRelatedPosts = false %}

{% if record|taxonomies['tags'] is defined and record|taxonomies['tags']|length > 0 %}
    {% for tag in record|taxonomies['tags'] %}
        {% setcontent relatedOnTags = record.contentType where { id: '!' ~ record.id, tags: tag.name|safestring(true)} limit 3 %}
        {% if relatedOnTags.nbResults > 0 %}
            {% set showRelatedPosts = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block main %}

            <article id="blog-entry" aria-label="blog post" class="flex justify-center flex-col">
                <div class="w-full max-w-screen-lg">
                    <div class="py-8 md:py-20 px-8 sm:px-0 m-auto max-w-screen-sm relative z-10">
                        {% if record.image is defined %}
                            {% include 'helpers/_responsive_image.twig' with {'image': record.image, 'cssClass': ""} %}
                        {% endif %}
                        <h1 class="text-3xl font-bold">{{ record|title }}</h1>
                        <p class="text-sm font-thin mb-4"><time>{{ record.publishedAt|localdate('l j F Y')|capitalize }}</time></p>

                        <div class="body-content">
                            {% if record.content is defined %}
                                {{ record.content }}
                            {% endif %}
                        </div>
                        <div class="body-content"> 
                            {% if record.body is defined %}
                                {{ record.body }}
                            {% endif %}
                        </div>

                        <div class="flex flex-wrap gap-4 font-thin text-sm my-4 lg:mt-0">
                            {% if record|taxonomies['tags'] is defined %}
                                {% for tag in record|taxonomies['tags'] %}
                                    <p><a class="link" href="{{ tag|link }}"  class="text-blue-800 underline">{{ tag.name }}</a></p>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="author-element">
                            {{ _self.authorImage(record) }}
                            <div class="flex flex-col">
                                {{ _self.author(record, true, true, true) }}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
{% endblock %}

{% block aside %}
            <aside class="flex justify-center pb-12 lg:pt-20">
                <div class="px-8 sm:px-16 pb-8 max-w-screen-lg relative z-10 ">
                    {% if record.attachments is defined and record.attachments|length > 0 %}
                        <section aria-label="{{'salve.attachments'|trans}}" class="mb-8">
                            <h2 class="text-lg font-bold">{{'salve.attachments'|trans}}</h2>
                            <div class="flex flex-col gap-4">
                            {% for file in record.attachments %}
                                <a class="text-blue-800 link serif text-xs font-bold" href="/files/{{ file.filename }}" target="_blank" rel="noopener">{{ file.title }}</a>
                            {% endfor %}
                            </div>
                        </section>
                    {% endif %}

                    {% if showRelatedPosts %}
                        <section aria-label="related tags" class="mb-8">
                            <h2 class="text-lg font-bold">{{'salve.related.subjects'|trans}}</h2>
                            <div class="flex flex-wrap gap-4 lg:flex-col">
                                {% for tag in record|taxonomies['tags'] %}
                                    {% setcontent relatedOnTags = record.contentType where { id: '!' ~ record.id, tags: tag.name|safestring(true)} limit 3 %}
                                    {% if relatedOnTags.nbResults > 0 %}
                                    <section aria-label="{{ tag.name }}">
                                        <h3><a href="{{ tag|link }}" class="text-blue-800 underline font-bold link">{{ tag.name }}</a></h3>
                                        <div class="flex flex-col gap-2 text-xs">
                                            {% for related in relatedOnTags %}
                                            <div>
                                                <div class="flex gap-2 items-center">
                                                    <div>
                                                        <h4><a class="text-blue-800 font-bold link" href="{{ related|link }}">{{ related|title  }}</a></h4>
                                                        <p class="font-thin"><time>{{ related.publishedAt|localdate('l j F Y')|capitalize }}</time></p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </section>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </section>
                    {% endif %}
                    {% if latest is defined and latest.nbResults > 0 %}
                    <section aria-label="{{'salve.blog.latest'|trans}}">
                        <h2 class="text-lg font-bold">{{'salve.blog.latest'|trans}}</h2>
                            <div class="flex flex-wrap gap-4 lg:flex-col">
                            {% for post in latest %}
                                <div class="flex flex-col gap-2 text-xs">
                                    <div>
                                        <div class="flex gap-2 items-center">
                                            <div>
                                                <h4><a class="text-blue-800 font-bold link" href="{{ post|link }}">{{ post|title  }}</a></h4>
                                                <p class="font-thin"><time>{{ post.publishedAt|localdate('l j F Y')|capitalize }}</time></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    {% endif %}
                </div>
            </aside>
{% endblock %}

{% block scripts %}
    <script src="https://kit.fontawesome.com/e03440966b.js" crossorigin="anonymous"></script>
{% endblock %}