{% extends 'partials/_master.twig' %}

{% setcontent ctaButtons = 'cta-buttons' orderby '-title' %}
{% setcontent features = 'features' orderby 'id' %}
{% setcontent showcase = 'showcase/fullt-utrustad-hemsida' %}
{% setcontent testimonials = 'testimonials' %}

{% set imageArr = [] %}
{% if showcase is not null %}
    {% for slide in showcase.slides %}
        {% if slide.type == "image" %}
            {% set imageArr = imageArr|merge([slide.value|json_encode]) %}
        {% endif %}
    {% endfor %}
{% endif %}

{% block main %}

    {# HERO SECTION #}
    <section aria-label="hero section" class="flex justify-center">
        <div class="w-full max-w-screen-xl">
            <div class="brand-blue min-h-96 pb-16">
                <div class="py-8 md:py-20 px-8 sm:px-16  max-w-screen-sm relative z-10">
                    <h1 class="text-3xl md:text-5xl font-bold leading-none">{{ record.introduction|plaintext }}</h1>
                    <p class="mt-4 tracking-wide leading-8 max-w-md">
                        {{ record.content|plaintext }}
                    </p>
                    <div class="mt-8 md:mt-16 flex gap-4">
                        {% for cta in ctaButtons %}
                            {% include 'partials/_cta_button.twig' with {'text': cta.title, 'anchor': cta.href, 'primaryColor': cta.button_color, 'solid': cta.solid} %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    {# FEATURES #}
    {% if features.nbResults > 0 %}
    <section aria-label="features" class="bg-purple-100 flex flex-col items-center relative">
        <div class="brand-purple-bg relative text-white py-0 relative z-10 max-w-screen-xl flex flex-col md:gap-y-0">
            {% for feature in features %}
                {% if loop.index0 is divisible by(2) %}
                    {% include 'partials/_feature.twig' with {'feature': feature, 'orientation': 'left', iteration: loop.index} %}
                {% else %}
                    {% include 'partials/_feature.twig' with {'feature': feature, 'orientation':  'right', iteration: loop.index} %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
    {% endif %}

    {# SHOWCASE #}
    {% if (showcase is not null) %}
    <section aria-label="showcase section" class="px-8 sm:px-16 py-24 flex flex-col justify-center relative bg-white z-1">
        <div class="mx-auto w-full max-w-screen-md relative flex flex-col">
            <div class="relative self-center">
                <img class="hidden lg:block absolute -ml-10 h-16 w-16" src="{{ asset("images/squares.svg") }}" alt="">
                <h2 class="inline-block text-4xl relative text-center">
                    Showcase
                </h2>
            </div>
 
            <p class="text-center mt-8 mb-2">{{ showcase.teaser|raw }}</p>
            <div class="flex justify-center">
                <div class="flex flex-col">
                    <div class=" overflow-hidden bg-gray-50 flex items-center">
                        <div id="carousel" class="" ></div>
                    </div>
                    <div class="h-12 mt-auto">
                        <p class="font-light text-center" id="carousel-text"></p>
                    </div>
                    <p class="text-lg mt-8">{{ showcase.text|raw }}</p>
                    <div class="flex flex-wrap gap-4 gap-y-1 font-light m-auto">
                        {% for component in showcase.components %}
                            <div class="flex gap-1 w-40">
                                <img src="{{ asset('images/checkmark.svg') }}" alt="">
                                <p class="mt-1">{{ component }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="absolute h-0.5 w-1/2 bottom-0 left-1/4 bg-gray-100"></div>
    </section>
    {% endif %}

    {# TESTIMONIALS #}
    {% if (testimonials.nbResults > 0) %}
    <section aria-label="testimonial section" class="px-8 sm:px-16 pt-16 pb-32 flex justify-center relative bg-white">
        <div class="w-full max-w-screen-md relative m-auto">
            <img class="hidden lg:block absolute -ml-8 -mt-4 h-24 w-24" src="{{ asset('images/triangles.svg') }}" alt="">
            <h2 class="text-4xl relative">{{ __('salve.testimonials.title') }}</h2>
            <p class="mt-8 mb-16">{{ __('salve.testimonials.text') }}</p>
            <div class="m-auto mt-16 max-w-screen-md flex flex-col md:flex-row flex-wrap  gap-8 items-center md:items-start lg:justify-between gap-y-16">
                {% for testimonial in testimonials %}
                    <div class="flex flex-col w-56 text-sm">
                        <img class="rounded-full" src="{{ testimonial.image|thumbnail(width=300, height=300, fit="c") }}" alt="{{ testimonial.title }}">
                        <p class="mt-4">{{ testimonial.text }}</p>
                        <p class="mt-2 font-semibold">
                            - {{ testimonial.title|raw }}
                        </p>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="absolute h-0.5 w-1/2 bottom-0 left-1/4 bg-gray-100"></div>
    </section>
    {% endif %}

    {# Contact Section #}
    {% include 'partials/_contact_section.twig' %}
{% endblock %}

{% block scripts %}
{% if showcase is not null %}
    <script type="module">
        import CarouselHandler from "{{ asset('js/CarouselHandler.js') }}";


        const images = [
            {% for image in imageArr %}
                {{ image|raw }}
                {% if not loop.last %},{% endif %}
            {% endfor %}
        ];

        const carouselHandler = CarouselHandler(images);

        const clickHandel = () => {
            carouselHandler();
        };

        window.addEventListener('click', e => {
            console.log(e.target.parentElement);
            if (e.target.parentElement.id === 'carousel') {
                clickHandel();
            }
        });
    </script>
{% endif %}
{% endblock %}