<!-- Footer -->
<footer class="relative px-8 sm:px-16 pt-8 pb-8 min-h-64 w-full brand-blue-bg flex">
    <div class="w-full max-w-screen-xl relative grid lg:flex h-full mx-auto">
        <div class="row-start-2">
            <div class="">
                <div id="footer-logo-container flex justify-center">
                    <a aria-label="home" href="#" class="flex flex-col items-start w-20">
                        <svg class="h-16" viewBox="0 0 271 272" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill:#FFFFFF; fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                                <g transform="matrix(1,0,0,1,-480.312,-162.964)">
                                    <path id="Logo" d="M522.127,350.504L539.443,350.504C550.062,382.243 580.044,405.139 615.331,405.139C616.863,405.139 618.385,405.096 619.899,405.01L605.202,434.644L480.312,434.644L522.127,350.504ZM633.164,378.234C627.562,380.118 621.565,381.139 615.331,381.139C593.55,381.139 574.658,368.678 565.4,350.504L599.516,350.504C608.353,350.504 615.516,343.341 615.516,334.504L615.516,334.504C615.516,325.667 608.353,318.504 599.516,318.504L594.284,318.504C594.437,317.617 594.516,316.705 594.516,315.773L594.516,315.773C594.516,306.937 587.353,299.773 578.516,299.773L565.4,299.773C574.658,281.6 593.55,269.139 615.331,269.139C646.238,269.139 671.331,294.231 671.331,325.139C671.331,336.831 667.74,347.691 661.602,356.674L652.737,338.8L633.182,378.228C644.842,374.305 654.791,366.644 661.601,356.675L673.311,380.237C686.954,365.886 695.331,346.483 695.331,325.139C695.331,324.732 695.328,324.327 695.321,323.917L750.35,434.644L700.273,434.644L673.296,380.252L673.308,380.24C659.699,394.554 640.85,403.841 619.85,405.013L633.157,378.237L633.164,378.234ZM547.339,299.773L530.516,299.773C526.273,299.773 522.203,301.459 519.202,304.46C516.202,307.46 514.516,311.53 514.516,315.773L514.516,315.773C514.516,316.705 514.596,317.617 514.748,318.504L511.516,318.504C502.68,318.504 495.516,325.667 495.516,334.504L495.516,334.504C495.516,343.341 502.68,350.504 511.516,350.504L522.127,350.504L547.339,299.773ZM664.619,262.141C651.027,251.489 633.915,245.139 615.331,245.139C596.747,245.139 579.634,251.489 566.042,262.141L615.331,162.964L664.619,262.141Z"/>
                                </g>
                            </svg>
                        <div id="footer-logo-text-container" class=" flex gap-0 justify-center align-middle">
                            <p class="text-xs text-white "><span class="font-bold m-0">salve</span><span class="font-thin m-0">digital</span></p>
                        </div>
                    </a>
                </div>
                <div class="text-white text-xs mt-12 flex flex-wrap gap-1 text-xs">
                    <p class="font-thin">&copy; Anders Björkland, 2021</p>
                    <p class="font-thin">Vega, Stockholm</p>
                    <p class="font-thin">kontakt@salve.digital</p>
                </div>
            </div>
        </div>
        <div class="hidden h-0 lg:h-auto row-start-1 lg:ml-auto lg:flex flex-wrap gap-6 text-sm">
            
            {% if currentLocale == "en" %}
            <div class="w-28">
                <a class="text-white font-semibold" href="/en">Home</a>
            </div>
            <div class="w-28 flex flex-col">
                <a class="text-white font-semibold" href="/en/products">Products</a>
            </div>
            <div class="w-28 flex flex-col">
                <a class="text-white font-semibold" href="/en/blog">Blog</a>
            </div>
            <div class="w-32 flex flex-col">
                <a class="text-white font-semibold" href="/en/about-salve-digital">About Salve digital</a>
            </div>

            {% else %}
            
            <div class="w-28">
                <a class="text-white font-semibold" href="/">Hem</a>
            </div>
            <div class="w-28 flex flex-col">
                <a class="text-white font-semibold" href="/produkter">Produkter</a>
            </div>
            <div class="w-28 flex flex-col">
                <a class="text-white font-semibold" href="/blog">Blogg</a>
            </div>
            <div class="w-32 flex flex-col">
                <a class="text-white font-semibold" href="/om-salve-digital">Om Salve digital</a>
            </div>

            {% endif %}
        </div>
    </div>
</footer>
{#
<footer class="relative brand-blue-bg text-white z-10">

    <h4>{{ __('Menu') }}</h4>
    {{ menu(template = 'partials/_sub_menu.twig') }}

    <hr>

    <h4>{{ __('general.phrase.search') }}</h4>

    <form method="get" action="{{ path('search') }}" id="searchform-inline" enctype="text/plain">
        <input type="search" value="{{ searchTerm|default() }}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="searchTerm" >
        <button type="submit">{{ __('action.search') }}</button>
    </form>

    <p>
        {{ __('general.phrase.built-with-bolt') }}
    </p>

    {{ widgets('footer') }}

</footer>
 #}