<!DOCTYPE html>
{% setcontent favicon = "favicon" %}
{% set currentLocale = "" %}

{% for locale in locales() %}
    {% if locale.current %}
        {% set currentLocale = locale.code %}
    {% endif %}
{% endfor %}

<html lang="{{ htmllang() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# make sure we always display a proper title: The record's title if there is one, appended with the
       sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
    <title>
        {%- if record|default and record.title -%}
            {{- record.title ~ ' | ' -}}
        {%- endif -%}
        {{- config.get('general/sitename') -}}
        {%- if record|default == null and config.has('general/payoff') -%}
            {{- ' | ' ~ config.get('general/payoff') -}}
        {%- endif -%}
    </title>
    <link rel="icon" href="{{favicon.image}}?v=1.0">
    {% include 'partials/_og_tags.twig' %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {#  <link rel="stylesheet" href="{{ asset('css/tailwind.css') }}"> #}
    {{ encore_entry_link_tags('tailwind') }}

    {# Add matomo from https://matomo.org/docs/installation and enter its js-hook here. #}
    <!-- Matomo -->
    <script type="text/javascript">
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['disableCookies']);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.salve.digital/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
    </script>
    <!-- End Matomo Code -->
</head>

<body class="min-h-screen overflow-x-hidden">
    {% if record|default and record.contentType == "homepage" %}
        <div class="hidden md:block w-1/2 h-screen fixed right-0 cloud-bg"></div>
        <div class="hidden md:block bg-white w-1/2 h-screen fixed diagonal-hero" ></div>
    {% elseif record|default and record.contentType == "pages" %}
        <div class="hidden lg:block w-1/2 h-screen absolute right-0 {{ heroBgClass }} p-4">
            {#<img class="py-40 px-20 m-auto top-36" src="{{ record|image }}" alt="{{ record.image.alt }}">
            #}
        </div>
        <div class="hidden lg:block bg-white w-1/2 h-screen fixed"></div>
    {% endif %}
    {{ include('partials/_header.twig') }}


{% if showAside is defined %}
<div class="lg:grid lg:grid-cols-3">
    <main class="col-span-2">
{% else %}
    <main>
{% endif %}
    {% block body %}


            {{ widgets('main_top') }}

            {% block main %}
            {% endblock main %}

            {{ widgets('main_bottom') }}

    {% endblock body %}
    </main>

    {% block aside %}
    {% endblock aside %}

{% if showAside is defined %}
</div>
{% endif %}

    {{ include('partials/_footer.twig') }}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
